/* TWEET CARD STYLING */

.tweet {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #2F2B34;
  color: white;
  border-radius: 5px;
  width: 900px;
  padding: 1em;
}

/* Tweet Card Hover */
.tweet:hover {
  box-shadow: 10px 5px 5px lightgray; 
}

/*  Tweet Card Header  */
.tweet header {
  display: flex;
  justify-content: space-between;
}

/* Tweet Card Divider */
.tweet hr {
  border-top: 3px solid white;
}

/* Tweet Card Footer */
.tweet footer {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  font-weight: 300;
  margin-right: 1em;
  margin-left: 1em;
}

/* User Name */
.name {
  font-weight: 300;
  margin-left: 5px;
}

/* User Handle */
.handle {
  font-weight: 400;
  color: turquoise;
}

/* Tweet Contents */
.content {
  margin-left: 1em;
  font-weight: 400;
}

/* Icons */
.fa-user-astronaut {
  font-size: 30px;
}

.fa-flag:hover, .fa-retweet:hover, .fa-heart:hover {
  color: #D29FFF; 
  
}