.article-tweet {
  font-family: 'Source Sans Pro', sans-serif;
  width: 900px;
  border: 4px solid #545149;
  padding: 1em;
}

.article-tweet:hover {
  box-shadow: 10px 5px 5px lightgray; 
}

/*  Article Header  */
.article-tweet header {
  display: flex;
  justify-content: space-between;
}

/* Article Divider */
.article-tweet hr {
  border-top: 4px solid #545149;
}

/* Ariticle Footer */
.article-tweet footer {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  margin-right: 1em;
  margin-left: 1em;
}

/* User's Name */
.name {
  margin-left: 5px;
}

/* User's handle */
.tweeterHandle {
  color: #D3AEE9;
  font-weight: bold;
}

/*  Tweet Contents */
.content {
  margin-left: 1em;
}

/* Icons */
.fa-user-astronaut {
  font-size: 30px;
}

.fa-flag:hover, .fa-retweet:hover, .fa-heart:hover {
  color:aqua;
}
