/* Header */

#Header {
  height: 400px;
  width: 100%;
  background-image: url("../images/gplay.png");
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #BA5D92; 
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#Header img {
  margin-top: 140px;
  width: 190px;
  height: auto;
}

#Header h2 {
  margin-top: 0px;
  color: white;
}


