
/* Main Navigation */

nav {
  background-color: #2F2B34;
  height: 120px;
  width: 100%;
  color: white;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top:0;
  width: 100%;
}

/*  Tweeter title */
.brandTitle {
  font-family: 'Bungee', sans-serif;
  margin-left: 1em; /* reduced slightly to compensate for font-size */
  margin-top: 50px;
  font-size: 35px;
}

/* "Write a new tweet" text */
nav div {
  font-family: 'Source Sans Pro', sans-serif;
  display: flex;
  flex-direction: column;
  margin-right: 1.5em;
  margin-top: 50px;
}

/* Arrow icon */
nav i {
  color: turquoise;
  text-align: center;
}

.arrow {
  text-align: center;
  margin: 8% 0;
}
.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  50% {
      transform: translateY(-15px);
    }
  }
