
/*
* Main Navigation
*/

nav {
  background-color: #2F2B34;
  position: absolute;
  height: 120px;
  width: 100%;
  color: white;
  display: flex;
  justify-content: space-between;
  
}

/*  Tweeter title */
.brandTitle {
  font-family: 'Bungee', sans-serif;
  margin-left: 1em; /* reduced slightly to compensate for font-size */
  margin-top: 50px;
  font-size: 35px;
}

/* "Write a new tweet" text */
nav div {
  display: flex;
  flex-direction: column;
  margin-right: 1.5em;
  margin-top: 50px;
}

/* Arrow icon */
nav i {
  color: turquoise;
  text-align: center;
}