
.new-tweet label {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
}

.new-tweet h2 {
  font-family: 'Bungee', sans-serif;
}

.new-tweet textarea {
  font-family: 'Source Sans Pro', sans-serif;
  background: transparent;
  border: none;
  border-bottom: 4px solid #2F2B34;
  height: 37px;
  width: 900px;
} 

.new-tweet div {
  display: flex;
  justify-content: space-between;
}

.new-tweet button {
  font-family: 'Bungee', sans-serif;
  font-size: 15px;
  color: white;
  background-color: turquoise;
  border: 2px solid #2F2B34;
  border-radius: 4px;
  padding: 7px;
}

.counter {
  font-family: 'Bungee', sans-serif;
  font-style: bold;
}

.red {
  color: red;
}
